.seleccionar-entidades h3 {
  font-size: 1.2em;
}
.seleccionar-entidades h3, p {
  margin-top: 0;
}
#divGrid{
  height: 75px;
}
#divGrid1{
  height: 75px;
}
#divGrid2{
  height: 75px;
}
#divGrid3{
  height: 75px;
}
#divGrid4{
  height: 75px;
}
#divGrid5{
  height: 75px;
}
/* add additional custom styles */